*.so
NOTE
install.sh
doc/build
build/

include/math

src/thor/events.cpp
src/thor/graphics.cpp
src/thor/animation.cpp
src/thor/math.cpp
src/thor/particles.cpp
src/thor/resources.cpp
src/thor/shapes.cpp
src/thor/time.cpp
src/thor/vectors.cpp

include/*.h
include/*_api.h
src/thor/*.h
src/thor/*_api.h
